@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
  */
  /* rgb(var(--background-start-rgb));  */
  background-color: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --pm: #ffffff;
  --sd: #858688;
  --tt: #a154f2;
  --qt: #1c1d20;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--qt); /* Background color */
}

::-webkit-scrollbar-thumb {
  background-color: var(--sd); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded corners */
  border: 3px solid var(--qt); /* Padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tt); /* Thumb color on hover */
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--pm); /* Thumb color on active */
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--sd) var(--qt);
}

.text-pm {
  font-size: 0;
}
